/* Geral */
	.clear{
		clear: both;
	}

	@font-face {
		font-family: 'Sinkin Sans 400';
		src: url('../fonts/SinkinSans-400Regular.eot');
		src: url('../fonts/SinkinSans-400Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SinkinSans-400Regular.woff2') format('woff2'),
			url('../fonts/SinkinSans-400Regular.woff') format('woff'),
			url('../fonts/SinkinSans-400Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Sinkin Sans 600';
		src: url('../fonts/SinkinSans-600SemiBold.eot');
		src: url('../fonts/SinkinSans-600SemiBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SinkinSans-600SemiBold.woff2') format('woff2'),
			url('../fonts/SinkinSans-600SemiBold.woff') format('woff'),
			url('../fonts/SinkinSans-600SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
	}

	::selection {
		background: #fbac7f; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
		background: #fbac7f; /* Gecko Browsers */
	}
	
	/* Fontes */
	.sinkinSans{
		font-family: 'Sinkin Sans 400';
	}
	.sinkinSans-semiBold{
		font-family: 'Sinkin Sans 600';
	}
	.openSans{
		font-family: 'Open Sans', sans-serif;
	}

	body{
		position: relative;
		display: block;
		min-height: 1500px;
	}
/* Header */
#header{
	min-height: 150px;
	background: #1d1d1d;
	border-bottom: 3px solid #ff5d00;
}

/* Logo */
#logo{
	margin-top: 25px;
}

/* Menu */
#menu{
	float: right;
	margin-top: 70px;
	font-family: 'Open Sans', sans-serif;
}
	#menu ul{}
	#menu ul li{
		float: left;
		display: block;
		text-decoration: none;
		border: 1px solid #1d1d1d;
	}
	#menu ul li:hover{
		border: 1px solid #ff5d00;
	}
	#menu ul li a{
		display: block;
		color: #FFFFFF;
		padding: 10px 15px;
	}
	#menu ul li a:hover{
		text-decoration: none;
	}


	/* Sections - Default */
	.content-section{
		height: auto;
		min-height: 550px;
		height: auto;
		background: #ddd;
	}

	.center{
		width: 100%;
		text-align: center;
	}
	.content-section h2{
		font-size: 41px;
		display: inline-block;
		position: relative;
	}
	.content-section h2:before{
		content: '';
		display: inline-block;
		margin-right: 10px;
		position: absolute;
		left: -140px;
		top: -40px;
	}

	.content-section h2,
	.content-section h3{
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.content-section h2 span,
	.content-section h3 span{
		color: #ff5d00;
	}
	.content-section p{
		color: #758594;
		font-size: 15px;
		max-width: 80%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: 'Open Sans', sans-serif;
	}

	.content-section .padding{
		padding: 60px 0;
		display: inline-block;
	}

	/* Section - Principal */
	.main-section{
		background: url(../images/main-bg.jpg) no-repeat center top;
		width: 100%;
		border-bottom: 7px solid #ff5d00;
		background-size: 100% auto;
	}
	.main-section .container{}

		.main-section .content-tit{
			background: url(../images/main-tit-bg.png) no-repeat center center;
			width: 523px;
			height: 521px;
			margin: 0 auto;
			position: relative;
			background-position: center 20px;
		}
		.main-section .content-tit .center-text{
			width: 100%;
			display: block;
			text-align: center;
			padding-top: 31%;
		}
		.main-section .content-tit h1{
			color: #FFFFFF;
			text-transform: uppercase;
			font-family: 'Sinkin Sans 600';
			font-size: 30px;
			line-height: 45px;
		}
		.main-section .content-tit h1 span{}
		.main-section .content-tit h1 span.low{
			text-transform: initial;
		}
		.main-section .content-tit a{
			display: inline-block;
			color: #ff5d00;
			font-size: 30px;
			border: 1px solid #ff5d00;
			padding: 10px 30px;
		}

	/* Section - Quem Somos */
	.quemSomos-section{
		background: url(../images/quem-somos-bg.jpg) no-repeat center top #262626;
		width: 100%;
		height: 550px;
		background-size: 100% auto;
	}
	.quemSomos-section .container{
		border-bottom: 1px solid #ff5d00;
		height: 100%;
	}
	.quemSomos-section h2:before{
		background: url(../images/icon-quem-somos.png) no-repeat center top;
		width: 120px;
		height: 120px;
	}
	.quemSomos-section h3{
		font-size: 18px;
	}

	/* Section - Equipe */
	.equipe-section{
		background: #1d1d1d;
		height: 100%;
	}
	.equipe-section .container{
		border-bottom: 1px solid #debd22;
		height: 100%;
	}
	.equipe-section h2:before{
		background: url(../images/icon-equipe.png) no-repeat center top;
		width: 120px;
		height: 120px;
	}
		/* colaborador */
		.equipe-section ul{
			margin-top: 60px;
		}
		.equipe-section ul li{
			list-style: none;
		}
		.equipe-section ul li .content-img{
			background: #233538;
			padding: 10px;
		}
		.equipe-section ul li .content-img img{
			width: 100%;
			max-width: 100%;
			max-height: 317px;
		}
		.equipe-section ul li h4{
			font-size: 19px;
			color: #ff5d00;
		}
		.equipe-section ul li span{
			/*color: #ff5d00;*/
			font-weight: bold;
			color: #FFFFFF;
		}
		.equipe-section ul li p{
			max-width: initial;
		}
		.equipe-section ul li .smm{}
		.equipe-section ul li .smm a{
			float: left;
			display: inline-block;
			color: #FFFFFF;
			margin-left: 10px;
			font-size: 25px;
		}
		.equipe-section ul li .smm a:hover{
			color: #ff5d00;
		}
		.equipe-section ul li .smm a:first-child{
			margin-left: 0;
		}


	/* Section - Produções */
	.producoes-section{
		background: url(../images/producoes-bg.jpg) no-repeat center top #262626;
		width: 100%;
		height: 965px;
		border-bottom: 3px solid #ff5d00;
		background-size: 100% auto;
	}
	.producoes-section .container{
		height: 100%;
	}
	.producoes-section .container p{
		margin-top: 50px;
	}
	.producoes-section h2:before{
		background: url(../images/icon-producoes.png) no-repeat center top;
		width: 120px;
		height: 120px;
	}

	/* Section - Maps */
	.maps-section{
		/*background: url(../images/teste-maps.jpg) no-repeat center top;*/
		width: 100%;
		height: 275px;
		min-height: initial;
		background-size: 100% auto;
	}
	.maps-section .container{}


	/* Footer */
	#footer{
		background: #1d1d1d;
		min-height: 180px;
		padding: 30px 0;
	}
	#footer .infos{}
	#footer .infos .address{}
	#footer .infos .smm{
		float: right;
	}
	#footer .infos h5{
		font-size: 16px;
		color: #758594;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		margin-bottom: 20px;
	}
	#footer .infos p{
		color: #758594;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 10px;
	}
	#footer .infos p i{
		color: #FFFFFF;
		margin-right: 20px;
		min-width: 14px;
		text-align: center;
	}
	#footer .infos .smm a{
		padding: 10px;
		background: #758594;
		border-radius: 50%;
		color: #34495e;
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		min-width: 40px;
		text-align: center;
		margin-right: 5px;
	}
	#footer .infos .smm a:hover{
		background: #ff5d00;
		color: #FFFFFF;
	}
	#footer .infos .smm i{}

	#footer .copyright{}
	#footer .copyright p{
		color: #758594;
		text-align: center;
		border-top: 3px solid #191919;
		padding-top: 30px;
		margin-top: 40px;
	}


/*-------------------------------
EFEITOS
---------------------------------*/

	/* Sweep To Top */
	.sweep-top-red {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	.sweep-top-red:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ff5d00;
		color: #FFFFFF;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.sweep-top-red:hover, .sweep-top-red:focus, .sweep-top-red:active {
		color: white!important;
		text-decoration: none;
	}
	.sweep-top-red:hover:before, .sweep-top-red:focus:before, .sweep-top-red:active:before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}


	/* Sweep To Top */
	.sweep-top-white {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	.sweep-top-white:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: white;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.sweep-top-white:hover, .sweep-top-white:focus, .sweep-top-white:active {
		color: #de302f!important;
		text-decoration: none;
	}
	.sweep-top-white:hover:before, .sweep-top-white:focus:before, .sweep-top-white:active:before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	/* Shrink */
	.shrink {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	.shrink:hover, .shrink:focus, .shrink:active {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}

/*-------------------------------
Page Template
---------------------------------*/
body.page{}
body.page main{
	background: #FFFFFF;
}


/*-------------------------------
Media Queries
---------------------------------*/
@media screen and ( max-width: 1570px ) {
	.main-section,
	.quemSomos-section,
	.producoes-section{
		background-size: auto 100%;
	}
}







